<!--The content below is only a placeholder and can be replaced.-->
<a [routerLink]="['/']">主页</a>&nbsp;
<!-- 在查询参数中传递数据 -->
<!-- <a [routerLink]="['/stock']" [quer yParams]="{id:1}">股票详情1</a>&nbsp; -->
<!-- 在路由路径中传递数据 -->
<a [routerLink]="['/stock', 2]">股票详情2</a>&nbsp;
<!-- <a [routerLink]="['/stock']">股票详情3</a>&nbsp; -->
<input type="button" value="股票详情1" (click)="toStockDetail()">&nbsp;
<br>
<a [routerLink]="[{outlets: {primary: 'home', aux: 'consult'}}]">开始咨询</a>&nbsp;
<a [routerLink]="[{outlets: {aux: null}}]">结束咨询</a>
<br>

<router-outlet></router-outlet>
<router-outlet name='aux'></router-outlet>